body{
    background-color:lightpink;
}
.box1{
position: relative;
left:50px;
height: 250px;
width:250px;
background-color: rgb(5, 15, 12);
border:3px solid red;
}
.box2{
    height: 250px;
    width:250px;
    background-color: rgb(5, 15, 12);
    border:3px solid red;
    position: relative;
    left:300px;
}
.box3{
    height: 250px;
    width:250px;
    background-color: rgb(5, 15, 12);
    border:3px solid red;
    position: relative;
    left:550px;
}
/*div{
    height: 250px;
    width:250px;
    background-color: rgb(5, 15, 12);
    border:3px solid red;
    
}